<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ECharts</title>
  <!-- 引入 echarts.js -->
  <script src="/js/echarts.min.js"></script>
  <script src="/js/jquery-3.5.1.min.js"></script>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="wrap" style="display:flex;justify-content: center ">
  <div id="main" style="width: 600px;height:400px;"></div>
  <div id="main1" style="width: 600px;height:400px;"></div>
</div>
<div id="main2" style="width: 600px;height:400px;"></div>

<script type="text/javascript">

  function strToDate(dateStr) {
    var dateStr = dateStr.replace(/-/g, "/");
    //现将yyyy-MM-dd类型转换为yyyy/MM/dd
    var dateTime = Date.parse(dateStr);
    //将日期字符串转换为表示日期的秒数
    //注意：Date.parse(dateStr)默认情况下只能转换：月/日/年 格式的字符串，但是经测试年/月/日格式的字符串也能被解析
    // var data = new Date(dateTime);//将日期秒数转换为日期格式
    return dateTime;
  }

  let myChart2 = echarts.init(document.getElementById('main2'));

  function time_interval_chart2(myChart2) {
    var array = new Array([100000]);
    for (var i = 0; i < 100000; i++) {
      array[i] = 0;
    }
    var axisData = [];
    $.ajax({
      type: "get",
      url: "/questions/list",
      contentType: "application/json",
      success: function (res) {
        for (var j = 0; j < res.length; j++) {
          if (res[j].isAnswered === 1) {
            var date1 = res[j].creationDate;
            //var seconds1 = strToDate(date1);
            var date2 = res[j].lastActivityDate;
            //var seconds2 = strToDate(date2);
            var second = date2 - date1;
            var day = Math.floor(24 * second / (86400000));
            array[day]++;
          }
        }
        for (var k = 0; k < 100000; k++) {
          if (array[k] !== 0) {
            var newArr = [k, array[k]];
            axisData.push(newArr);
          }
        }
        var option = {
          title: {
            text: 'Distribution of answers'
          },
          xAxis: {
            type: 'value',
            scale: true
          },
          yAxis: {
            type: 'value',
            scale: true
          },
          series: [
            {
              type: 'scatter',
              data: axisData
            }
          ]
        }
        myChart2.setOption(option);
      }
    })
  }

  function init_answer(myChart) {
    let option = {
      title: {
        text: 'ECharts 数据统计'
      },
      series: [{
        name: '数量',
        type: 'pie',
        data: [
          {value: 1, name: 'accepted'},
          {value: 0, name: 'unaccepted'}
        ],
        label: {
          show: true,
          formatter: function (arg) {
            console.log(arg);
            return arg.percent + "%"
          }
        },
        selectedMode: 'multiple',
        selectedOffset: 30
      }]
    };

    myChart.setOption(option);
  }

  function show_answer(myChart) {
    let accepted = 0;
    let unaccepted = 0;
    $.ajax({
      type: "get",
      url: "/stackoverflow_questions/list",
      contentType: "application/json",
      success: function (res) {
        for (var i = 0; i < res.length; i++) {
          if (res[i].acceptedAnswerId === 0) {
            unaccepted++;
          } else {
            accepted++;
          }
        }
        // temp = answered;
        myChart.setOption({
          title: {
            text: "accepted & unaccepted"
          },
          tooltip: {},
          series: [{
            type: 'pie',
            data: [
              {value: accepted, name: 'accepted'},
              {value: unaccepted, name: 'unaccepted'}
            ],
            label: {
              show: true,
              formatter: function (arg) {
                console.log(arg);
                return arg.percent + "%"
              }
            },
            selectedMode: 'multiple',
            selectedOffset: 30
          }]
        })
      },
    })
  }

  function init_nonac(myChart) {
    let option = {
      title: {
        text: 'ECharts 数据统计'
      },
      series: [{
        name: '数量',
        type: 'pie',
        data: [
          {value: 1, name: 'more_than_accepted'},
          {value: 0, name: 'less_than_accepted'}
        ],
        label: {
          show: true,
          formatter: function (arg) {
            console.log(arg);
            return arg.percent + "%"
          }
        },
        selectedMode: 'multiple',
        selectedOffset: 30
      }]
    };

    myChart.setOption(option);
  }

  function show_nonac(myChart) {
    let more_than = 0;
    let less_than = 0;
    $.ajax({
      type: "get",
      url: "/answers/list",
      contentType: "application/json",
      success: function (res) {
        for (var i = 0; i < res.length; i++) {
          if (res[i].isAccepted === 0) {
          } else {
            if (res[i].upVoteCount >= res[i].highestVote) {
              less_than++;
            } else if (res[i].upVoteCount < res[i].highestVote) {
              more_than++;
            }
          }
        }
        // temp = answered;
        myChart.setOption({
          title: {
            text: "more_than & less_than"
          },
          tooltip: {},
          series: [{
            type: 'pie',
            data: [
              {value: more_than, name: 'more_than_accepted'},
              {value: less_than, name: 'less_than_accepted'}
            ],
            label: {
              show: true,
              formatter: function (arg) {
                console.log(arg);
                return arg.percent + "%"
              }
            },
            selectedMode: 'multiple',
            selectedOffset: 30
          }]
        })
      },
    })
  }

  let myChart = echarts.init(document.getElementById('main'));
  init_answer(myChart);
  show_answer(myChart);
  let myChart1 = echarts.init(document.getElementById('main1'));
  init_nonac(myChart1);
  show_nonac(myChart1);
  time_interval_chart2(myChart2);
</script>
</body>
</html>
